<!--
 * @Author: cwj
 * @Date: 2023-02-10 20:29:04
 * @LastEditors: cwj
 * @LastEditTime: 2023-02-17 02:10:52
 * @Introduce: 
-->
<div class="cnzt">
  <div class="select-log">
    <div class="mid-wrap">
      <div class="pic">
        <img src="../../../../../assets/images/platform.png" />
      </div>
      <div class="methods">
        <button nz-button nzType="primary" nzSize="large" nzBlock
          (click)="onChangeModalType.emit('loginByPhone')">手机号登陆</button>
        <button nz-button nzSize="large" nzBlock
          (click)="onChangeModalType.emit('register')">注册</button>
      </div>
    </div>
  </div>
</div>