<!--
 * @Author: cwj
 * @Date: 2023-02-10 20:29:04
 * @LastEditors: cwj
 * @LastEditTime: 2023-02-10 20:32:34
 * @Introduce: 
-->
<div class="cnzt">
    <div class="select-log">
      <div class="mid-wrap">
        <div class="pic">
          <img src="../../../../../assets/images/platform.png" />
        </div>
        <div class="methods">
          <button nz-button nzType="primary" nzSize="large" nzBlock>手机号登陆</button>
          <button nz-button nzType="primary" nzSize="large" nzBlock>注册</button>
        </div>
      </div>
    </div>
  </div>